<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--  -->
    <add key="GprsBridgeComPort" value="COM3"></add>
    <add key="ServerInternetIpAddress" value="10.31.31.31"></add>
    <add key="ServerInternetPort" value="8334"></add>
    <add key="GprsTransmitterIpaddress" value="192.168.31.100"></add>
    <add key="GprsTransmitterPort" value="8333"></add>
    <add key="ServerIntranetIpAddress" value="10.136.122.137"></add>
    <add key="ServerIntranetPort" value="8334"></add>
  </appSettings>

</configuration>