<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--##日志参数##-->
    <!--日志类型：OneFile=不限大小的单个日志文件-->
    <add key="LogType" value="FileBySize" />
    <add key="LogPath" value="Logs" />
    <!--日志文件名，不带后缀-->
    <add key="LogFileName" value="DPMP-COMM" />
    <add key="MaxSize" value="256000"/>
    <add key="TimeSpan" value="00:10:00"/>

    <!--##通信参数##-->
    <!--数据池扫描周期，单位：毫秒 //默认1秒为一个计时单位-->
    <add key="TimeSlip" value="500" />
    <!--正常心跳周期，单位：毫秒 //默认60秒一次心跳-->
    <add key="HeartBeatSlip" value="60000" />
    <!--恢复期心跳周期，单位：毫秒 //默认1秒一次恢复期心跳，以便尽快变换到可以通信的状态-->
    <add key="RecoverBeatSlip" value="1000" />
    <!--延时重发的计时周期数，单位：TimeSlip //Func:用于发送失败后的延时再发送，至少为一次顺利的恢复所需要的时间，以免在恢复期重发？-->
    <add key="DelayCount" value="6" />
    <!--超时重发的计时周期数，单位：TimeSlip //Func:用于发送成功后等待反馈帧，至少为一次正常通信的时间-->
    <add key="TimeOutCount" value="10" />
    <!--失败次数 //Func:用于限制重发次数，超过即取消发送-->
    <add key="MaxFailCount" value="3" />
    <!--等待时间，秒 //Func:如果超过这个时间没有通信，则状态会降级-->
    <add key="IdleTime" value="300" />
    
    <!--告警保留时间，分 //Func:部分早于这个时间的告警自动清除-->
    <add key="WarningKeepTime" value="15" />
    

    <!--信道编号，用于同一个信道类型，不同的信道(参数)，以支持多信道混合通信模式-->
    <add key="PipeID" value="2" />
    <!--小区变平台，终端上连端口：1354，主站上连端口：1355，网关：gprs-8.zpepc.com.cn-->

    <!--前置机IP4地址，例如127.0.0.1 //默认用于本机测试-->
	  <!--add key="GatewayIPString" value="10.136.96.250" /-->
	  <add key="GatewayIPString" value="10.137.253.8" />
    <!--前置机TCP端口，例如12001 //默认G3通信端口-->
	  <!--add key="GatewayIPPort" value="1090" /-->
    <add key="GatewayIPPort" value="1357" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SQLConnStringLocalTransaction" connectionString="Data Source=10.148.219.213;Initial Catalog=DPMPDB;Persist Security Info=True;User ID=sa;Password=123456;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。101.68.81.108 -->
  <system.serviceModel>
    <client>
      <endpoint address="http://10.136.122.56/services/Service" binding="basicHttpBinding"
        bindingConfiguration="ServiceHttpBinding" contract="ServiceReference1.ServicePortType"
        name="ServiceHttpPort" />
      <endpoint address="http://ssport5.zpepc.com.cn:8080/RF" binding="basicHttpBinding"
        bindingConfiguration="ServiceHttpBinding" contract="RTDStore.BUSServiceSoap"
        name="ServiceHttpPort2" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="newBasicHttpBinding" sendTimeout="00:05:00" maxBufferSize="524288"
          maxReceivedMessageSize="524288">
          <readerQuotas maxStringContentLength="524288" />
        </binding>
        <binding name="ServiceHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="newWsHttpBinding" sendTimeout="00:05:00" maxReceivedMessageSize="524288">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="DPMP_COMM_WCF.Service1Behavior"
        name="DPMP_COMM_WCF.Service1">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="newBasicHttpBinding"
          contract="DPMP_COMM_WCF.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://10.31.31.31:8731/DPMP_COMM_WCF/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DPMP_COMM_WCF.Service1Behavior">
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- 要接收故障异常详细信息以进行调试， 
          请将下值设置为 true。在部署前 
            设置为 false 以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False" />
          <!--<serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="10"
                        maxConcurrentInstances="20" />
          <serviceTimeouts transactionTimeout="00:01:00" inactivityTimeout="01:00:00"  />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>